
img{
  max-width: 100%;
display: block;
}

html{
  color-scheme: light dark;
  overflow-x: hidden;

}
*{
  margin:0
}

*,*::after,*::before{
  box-sizing: border-box;
}

body{
  /* cursor:url("/public/customCursor.png"),auto ; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}


@keyframes marquee{
  0% {
      transform: translateX(100%)
  }
  100% {
      transform: translateX(-100%)
  }
}
.marquee{
 
    white-space: nowrap;
    animation: marquee 10.5s infinite linear; /* notice the infinite */
}
